@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: black;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.589);
    width: 80vw;
    border-radius: 10px;
    padding: 10px;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
img {
    display: block;
    margin: auto;
}

#print {display: none;}
#smartwatch {display: none;}
#phone {display: block;}
#tablet {display: none;}
#laptop {display: none;}
#desktop {display: none;}
#tv {display: none;}
